.body{
    background-color: #7FBCBCB2;

}
#logo{
    padding-top: 20px;
    padding-bottom: 60px;

}

.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.now p{
	font-color: black;
}

.now p:hover{
	color: white;
}

#form{
    background-color: #D1D1D1;
}
.bg-putih{
	background-color: white;
}